.panel-heading
  background-color transparent !important
  border-bottom 1px solid #EDEDF9

.page-header
  h1
    font-size 38px
  .page-header-icons
    font-size 20px

.btn,button
  padding 4px
  margin-bottom 3px

.panel-inactive
  color lightgray
  .panel-heading
    color lightgray
  .btn,button
    color lightgray

.panel
  transition max-height 1s ease
  transition color 1s ease
  overflow hidden
  .panel-heading
    transition color 1s ease
  .btn,button
    padding 2px
    font-size 10px
    margin-right 5px

.profile-img
  background-image url("/static/img/mandarin.jpg")
  height 100px
  width 100px
  position absolute
